extends ../../../../templates/secret.pug

block content
	link(rel='stylesheet' href='/styles/guestform.css')
	.container
		
		a.button(class="btn btn-primary" href=`/admin/learn` style="float:right; margin-right: 10px; font-family:'KG Broken Vessels Sketch Regular'; margin-top: 10px;") Show Saved
		.jumbotron
			.form-group
				.col-lg-10.col-lg-offset-2
			table.table.table-striped.table-hover
				thead
					th learn ID
					th CATEGORY
					th ACTION
				tbody
					each learn in learns
						- var name = `collapse${learn.learn_id}`
						- var name2 = `collapse2${learn.learn_id}`
						- var heading = `#heading${learn.learn_id}`
						- var heading2 = `#heading2${learn.learn_id}`
						tr 	
							td=learn.learn_id
							td=learn.learn_name
							
							
							td(style="display: flex; justify-content: center")
								a.button(class="btn btn-info" href=`/admin/learn/${learn.learn_id}/restore` style="float:right; font-family:'KG Broken Vessels Sketch Regular'") Restore 
								a.button(class="btn btn-danger" href=`/admin/learn/${learn.learn_id}/deletepermanently` style="float:right; margin-right: 10px; font-family:'KG Broken Vessels Sketch Regular'") Delete Permanently
								
	.footer
		p FOLLOW US ON SOCIAL MEDIA 
		i.fa.fa-facebook.fa-2x.cust(aria-hidden='true')
		i.fa.fa-twitter.fa-2x.cust(aria-hidden='true')
		i.fa.fa-instagram.fa-2x.cust(aria-hidden='true')
		i.fa.fa-youtube.fa-2x.cust(aria-hidden='true')
		i.fa.fa-pinterest.fa-2x.cust(aria-hidden='true')
		i.fa.fa-linkedin.fa-2x.cust(aria-hidden='true')
		hr(size='20')
		f2  https://churchtogo.io 
